name: default pipeline

on:
  push:
    branches: 
      - main
jobs:
  lint:
    name: Lint and Code Analysis
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.24'

      - name: Run go vet
        run: go vet ./...

      - name: Run static check
        uses: dominikh/staticcheck-action@v1

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v6.0.1
  tests:
    name: running tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.24'

      - name: testing
        run: go test -v ./...
    
  docker:
    name: build'n'push
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            your-dockerhub-username/your-app:latest
            your-dockerhub-username/your-app:${{ github.sha }}
